<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



<nav class="navbar navbar-default" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <div style="padding-left: 50%;"> <a class="navbar-brand" [routerLink]="['/home']" style="font-weight: bold; font-size: 30px; font-family: initial;">Blogs</a></div>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
       
        <form class="navbar-form navbar-left" role="search" style="margin-left: 30%;">
            <div class="form-group">
                <input type="text"  class="form-control" placeholder="Search" [(ngModel)]="searchvalue" name="title">
            </div>
            <a routerLink="blogs/search/{{searchvalue}}">
                <button type="submit" class="fa fa-search btn btn-primary" ></button>
            </a>
        </form>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Link</a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li><a href="#">Separated link</a></li>
                </ul>
            </li>
        </ul>
    </div><!-- /.navbar-collapse -->
</nav>
<div id="mySidenav" class="sidenav" >
    <a routerLink="/home">Home</a>
    <a routerLink="blogs/add">Write Blog</a>
    <a href="#">Clients</a>
    <a href="#">Contact</a>
    <img src="assets/picside.PNG" style="margin-top: 130%">
  </div>
  
  <!-- Use any element to open the sidenav -->
  
  <!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
  <div id="main">
    ...
  </div>
