<div>
<nav class="navbar navbar-default " role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      
       <div style="padding-left: 50%;"> <a class="navbar-brand" href="#" style="font-weight: bold; font-size: 30px; font-family: initial;">Blogs</a></div>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    
        <form class="navbar-form" role="search" style="text-align: center">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Search">
            </div>
        </form>

      
</nav>
</div>
<router-outlet></router-outlet>

