<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

<div class="container">
    <div class="row">
    <div class="col s8 offset-2">
        <div class="card-panel teal lighten-2">
            <h4 class="center white-text" id="create">Create New Blog</h4>
        </div>
      <form [formGroup]="addForm" (ngSubmit)="AddOne()">
            <div class="row">
                <div class="input-field col s12">
                    <input type="text"  formControlName="title"  name="title" id="title" required> 
                    <label for="title"><b><b>Title:</b></b></label>
                </div>
            </div>
               <img [src]="imageUrl"  style="width:250px;height:200px">
                <input type="file" (change)="imgInput($event.target.files)"> 
                  <br>
                    <div>
                        <label for="content">Content:</label>
                        <textarea class="form-control" formControlName="body"  placeholder="Enter body of blog"rows="6" required></textarea>
                   </div>
                   <br>
                   <div>
                        <button type="submit"  class="btn-large btn-submit">Create</button>
                        <button type="button" class="btn-large btn-submit">Cancle</button>
                    <!-- [disabled]="Image.value=='' || !imageForm.valid" -->
                   </div>
                </form>
       
    </div>
    </div>
