body{
    background-color: rgb(241, 96, 96);
}
.card{
    margin: 0 auto; 
    float: none;
    margin-bottom: 10px;
    width: 600px;
    border: 1px solid lightgray;
    margin-bottom: 50px;
}
#title{
    font-size: 25px;
    font-weight: bold;
    margin-left: 10px;
}
#comment{
    font-size: 20px;
}
#like{
    margin-left: 10px;
}
#authorDet{
    margin-top: 10px;
    margin-left: 10px;
}
#profileImg{
    width: 50px;
     height: 50px;
     border-radius: 50%;
     margin-right: 10px;
}
textarea{
    resize: none;
    display: inline;

}
textarea:focus{
outline: none;
}
i{
    color: red;   
    font-size: 35px;
}
.textarea-container {
    position: relative;
  }
  .textarea-container textarea {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
  }
  .textarea-container button {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 10px;
    margin-right: 5px;
    background: none;
    border: none;
    color: rgb(72, 72, 226);
    font-weight: bold;
  }
  #det{
    text-align: left;
    font-size: 16px;
    margin-left: 20px;
    color: rgb(95, 93, 93);
    font-weight: bold;

}
#createdAt{
    font-weight: bold;
     margin-left: 10px;
     color: rgb(95, 93, 93);
     margin-right: 5px;
}





