/* #body{
    font-size: 20px;
    margin-top: 20px;
}
#username{
    margin-top: 20px;
    font-size: 20px;
     color: black;
      display: inline;
} */
@import '../../../node_modules/bootstrap/dist/css/bootstrap.css';
.container {
    margin-top: -1%;
    margin-left: 25%;
}
textarea{
    resize: none;
}