
<div class="content">
<h1 style="color:teal">About Blog:</h1>
<h3><b>Blog</b> is a free platform for blogging. </h3>
<h3 style="color:teal"><b>Features-</b></h3>
<h3>BLOGS</h3>
<ul>
   <li><b>Write</b> a blog with a rich text editor</li>
   <li><b>Autosave </b> blog while writing</li>
   <li><b>Continue </b> where you left even if you close the browser.</li>
    <li><b>Update</b> blog anytime after publishing.</li>   
     <li><b>Improve </b> the reachability of every blog using categories and tags.</li>
   
</ul>

<h3>USERS</h3>
<ul>
<li><b>Create </b>and update public profile.</li>
<li><b>View </b>all blogs written by you in your dashboard.</li>
</ul>
<h3>BROWSING</h3>
<ul>
<li>View all<b> latest blogs</b> on the home page.</li>
<li><b>Filter</b> by category from the home page.</li>
<li>Tap on any <b>tag </b>in a blog to view blogs having that tag.</li>
<li><b>Related blogs </b> for each blog in the single blog page.</li>
<li><b>Commenting </b> system by Disqus.</li>
<li><b>Search</b> blogs with keywords.</li>
<li><b>Visit</b> the <b>profile</b> page of any user to view all the blogs written by them.</li>
<li><b>Share</b> blogs and user public profile directly.</li>
</ul>
<h3>THE WEB APP</h3>
<UL>
<li>Blogaroo is a Progressive Web App <b>(PWA)</b>.</li>
<li>Can be<b> installed</b> as a standalone app.</li>
<li>Improved <b>caching </b> for faster rendering.</li>
</UL>

</div>


