<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<div class="container col-8">
    <div class="card-panel teal lighten-2" style="margin-bottom: 20px;width: 100%;">
        <h2 class="center white-text">Edit Profile</h2>
    </div>
    <div class="container row  " style="margin-top: 20px; display: inline-flex;">
        <div class="col-lg-3 ">
            <br>
            <br>
            <img [src]="imageUrl" style="width:250px;height:200px">
            <input type="file" (change)="imgInput($event.target.files)">
        </div>
        <div class="col-lg-6">
            <form [formGroup]="formGroup" class="border border-black p-5" style="margin-left:15% ;">
                <input type="text" formControlName="firstname" class="form-control" placeholder="First name">
                <br>
                <input type="text" formControlName="lastname" class="form-control" placeholder="Last name">
                <br>
                <input type="email" formControlName="email" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="E-mail">
                <br>
                <input type="text" formControlName="username" class="form-control" placeholder="User name">
                <br>
                <input type="password" formControlName="password" id="defaultLoginFormPassword" class="form-control"
                    placeholder="Password">
                <br>
                <button class="btn my-4 " style="margin-left: 30%;color: white;width: 40%;" [routerLink]="['/home']" type="submit"
                    (click)="Edit()">Save</button>

            </form>
        </div>
        
    </div>
    </div>