<div class="col-lg-2" style="background-color: blueviolet;text-align: left;">
<ul>
    <li>jnjnjnj</li>
    <li>jnjnjnj</li>
    <li>jnjnjnj</li>  
    <li>jnjnjnj</li>
    <li>jnjnjnj</li>
    <li>jnjnjnj</li>
    <li>jnjnjnj</li>
    <li>jnjnjnj</li>
    <li>jnjnjnj</li>
    <li>jnjnjnj</li>
    <li>jnjnjnj</li>
    <li>jnjnjnj</li>
    <li>jnjnjnj</li>
    <li>jnjnjnj</li>
    <li>jnjnjnj</li>
    <li>jnjnjnj</li>
    <li>jnjnjnj</li>
    <li>jnjnjnj</li>
    <li>jnjnjnj</li>
    <li>jnjnjnj</li>
    <li>jnjnjnj</li>
    <li>jnjnjnj</li>
    <li>jnjnjnj</li>
    <li>jnjnjnj</li>
    <li>jnjnjnj</li>
    <li>jnjnjnj</li>
    <li>jnjnjnj</li>
    <li>jnjnjnj</li>
    <li>jnjnjnj</li>
    <li>jnjnjnj</li>
    <li>jnjnjnj</li>
    <li>jnjnjnj</li>
    <li>jnjnjnj</li>
    <li>jnjnjnj</li>
    <li>jnjnjnj</li>
    <li>jnjnjnj</li>
    <li>jnjnjnj</li>
    <li>jnjnjnj</li>
    <li>jnjnjnj</li>
    <li>jnjnjnj</li>
    <li>jnjnjnj</li>
    <li>jnjkmmk</li>
</ul>
</div>