
<form [formGroup]="formGroup"  class="container border border-black p-5 offset-4 col-2 ">
    <p class="h4 mb-4 text-center">Sign up</p>

    <input type="text" formControlName="firstname" class="form-control" placeholder="First name">
    <br>
    <input type="text" formControlName="lastname" class="form-control" placeholder="Last name">
    <br>
    <input type="email" formControlName="email" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="E-mail">
    <br>
    <input type="text" formControlName="username" class="form-control" placeholder="User name">
    <br>
    <input type="password" formControlName="password" id="defaultLoginFormPassword" class="form-control" placeholder="Password" aria-describedby="defaultRegisterFormPasswordHelpBlock">

    <small id="defaultRegisterFormPhoneHelpBlock" class="form-text text-muted mb-4">Minimal 8 characters lenght</small>

    <button type="submit" (click)="register()" class="btn btn-info my-4 btn-block" [routerLink]="['/users/login']"> Sign up</button>

    <div class="text-center">
        <p>or sign up with:</p>

        <a type="button" class="light-blue-text mx-2">
            <i class="fab fa-facebook-f"></i>
        </a>
        <a type="button" class="light-blue-text mx-2">
            <i class="fab fa-twitter"></i>
        </a>
        <a type="button" class="light-blue-text mx-2">
            <i class="fab fa-linkedin-in"></i>
        </a>
        <a type="button" class="light-blue-text mx-2">
            <i class="fab fa-github"></i>
        </a>

    </div>
</form>
