<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

<form [formGroup]="formGroup" class="container card col-8">
    <div>
        <div class="card-panel teal lighten-2">
            <h2 class="center white-text">Sign up</h2>
        </div>
        <div class="card-body">
            <br>
            <input type="text" formControlName="firstname" placeholder="First name">
            <div class="alert alert-danger"
                *ngIf="formGroup.get('firstname').touched && formGroup.get('firstname').invalid">
                please enter your first name
            </div>
            <br>
            <br>
            
            <input type="text" formControlName="lastname" class="form-control" placeholder="Last name">
            <div class="alert alert-danger" *ngIf="formGroup.get('lastname').touched && formGroup.get('lastname').invalid">
                please enter your last name
            </div>
            <br>
            <br>
            
            <input type="email" formControlName="email" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="E-mail">
            <div class="alert alert-danger" *ngIf="formGroup.get('email').touched && formGroup.get('email').invalid">
                please enter your email
            </div>
            <br>
            <input type="text" formControlName="username" class="form-control" placeholder="User name">
            <div class="alert alert-danger" *ngIf="formGroup.get('username').touched && formGroup.get('username').invalid">
                please enter valid username
            </div>
            <br>
            <br>
            <input type="password" formControlName="password" id="defaultLoginFormPassword" class="form-control"
                placeholder="Password" aria-describedby="defaultRegisterFormPasswordHelpBlock">
            <div class="alert alert-danger" *ngIf="formGroup.get('password').touched && formGroup.get('password').invalid">
                Minimal 8 characters lenght
            </div>
            <br>
            <br>
            <div class="card-action">
                <button type="submit" (click)="register()" class="btn-large btn-submit" style="color: white;width: 40%;"
                    [routerLink]="['/users/login']">
                    Sign up</button>
            </div>
            </div>
    </div>
</form>