@import '../../../node_modules/bootstrap/dist/css/bootstrap.css';
.container {
    margin-top: 1%;
     font-size: larger;
}
input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button{
    margin-left: 30%;
}